.App {
  text-align: center;
  background-color: #212529;
  color: #212529;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown-menu {
  height: 450px;
  overflow-y: scroll;
}

.light {
  color: white;
}

.dark {
  color: #212529;
}

.hover-test:hover {
  background-color: #84a6b8;
  cursor: pointer;
  border-radius: 1.5em;
  box-shadow: inset 0 -1.5em 0 -0.75em rgba(0, 47, 117, 0.17);
}

.hover-test {
  transition: all 0.3s ease 0s;
}

.test {
  transition: all 0.7s ease 0s;
}

.test:hover {
  font-size: 3.2rem;
  height: 3.2rem;
  width: 3.2rem;
  cursor: pointer;
  border-radius: 1.5em;
  box-shadow: inset 0 -0.9em 0 -0.75em rgba(0, 47, 117, 0.17);
  position: fixed;
}
